<html>
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' typ$
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1>How much school do I have left?</h1>
    <div id="data">
	"<h2>You have <span class='bold'>#{@weekdays}</span> days left of school.<h2>"
    </div>
  </body>
</html>

